*{
  box-sizing: border-box;
  margin: 0;
}
.main-container{
    padding-left: 10vw ;
    padding-right: 10vw ;
    padding-top: 20px;
    /* background-color:rgb(159, 159, 230); */
    height: 100vh;
    width: 100vw;
}
.instructions{
    width: 80vw;
    height: 20%;
    background-color:rgba(51, 51, 68, 0.473); 
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1em;;
    text-align: center;
    font-family: 'Benne', serif;
    margin: 1%;
}
h3{
    height:20%;
    padding-bottom: 5px;
    font-family: 'Staatliches', cursive;
}
p{
    padding: 2px;
    font-family: 'Benne', serif;
    font-size: 1em;
    color: whitesmoke;
}
form{
    width: 79vw;
    padding: 10px;
    height: 75%;
    margin: 1% ;
    background-color: transparent;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    background-color: rgba(93, 93, 97, 0.473);
    font-family: 'Benne', serif;
}
input{
    width: 30%;
    height: 4vh;
    margin-top: 3px;
    border-radius: 0.3em;
    padding-top: 5px; 
    padding-right: 5px;
}
label, .p3{
   margin-top:1%;
   display: flex;
   font-size: 1em;
   flex-direction: row;
   color: whitesmoke;
   
}
.btn{
    margin: 3px ;
    padding: 2px ;
    border-radius: 0.5em ;
    height: 3em;
    width: 5em;
    cursor: pointer;
}
.image{
    width: 100vw;
    height: 100vh;
    position:absolute;
    z-index: -1;
    opacity: 0.8;
}
